

<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>
            {% block title %}
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
            {% endblock title %}
        </title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="icon" sizes="192x192" href="{{ paths.theme }}images/favicon_large.png" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="{{ app.config.get('general/sitename') }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ paths.theme }}images/ios-desktop.png" />

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="{{ paths.theme }}images/touch/ms-touch-icon-144x144-precomposed.png" />
        <meta name="msapplication-TileColor" content="#3372DF" />

        <!-- Standard styles for this template -->
        <link rel="stylesheet" href="{{ paths.theme }}css/bootstrap.css">
        <!-- Custom styles for this template -->
        <link href="{{ paths.theme }} .css" rel="stylesheet">
        <!-- Your own styles for this template -->
        <link rel="stylesheet" href="{{ paths.theme }}css/custom.css">

    </head>
        <body>

        {% block nav %}

        {% endblock nav %}

        {% block header %}

        {% endblock header %}

        {% block main %}

        {% endblock main %}

        {% block footer %}

        {% endblock footer %}


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ paths.theme }}js/jquery-3.1.1.slim.min.js"></script>
        <script src="{{ paths.theme }}js/tether.js"></script>
        <script src="{{ paths.theme }}js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ paths.theme }}js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>
